@media (min-width: 769px) and (max-width: 1024px) {

  .logo-img-spin img {
      width: max(100vw, 1550px) !important;
  }
  .txt-end p {
    font-size: 58px !important;
    
  }  
  .txt-end span {
    font-size: 30px !important;
    
  }
  
  .txt-end {
    bottom:15% !important;
  }
	.corner-images img {
    width: 28%;
  }
  .eyes-wrapper {
      width: min(90vw, 400px);
      display: flex;
      gap: clamp(24px, 5vw, 64px);
  }
  .run-stroke {
    display: inline-flex;
    white-space: nowrap;
    font-size: 130px;
    font-weight: 600;
    color: #fff;
    flex: none;

  }


	.corner-images img {
    width: 28%;
  }

	.eyes-wrapper {
			width: min(80vw, 600px);
			display: flex;
			gap: clamp(24px, 5vw, 64px);
	}

	.run-stroke {
		display: inline-flex;
		white-space: nowrap;
		font-size: 150px;
		font-weight: 600;
		color: #fff;
		flex: none;
	}
	.eye {
    width: 46%;         
	}
	.logo-img-spin img {
    width: max(100vw, 1550px);
  }
  .left-eye{
      margin-left: 0px;
      transition: opacity .25s ease;
  }
  .corner-images img {
      width: clamp(180px, 22vw, 320px);
  }
 .part{
    animation: puzzleMove3 5s ease-in-out infinite;
  }
  @keyframes puzzleMove3 {
  0%   { transform: translate(-50%, -50%) scale(1.9); }
  40%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.9); }
  60%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.9); }
  100% { transform: translate(-50%, -50%) scale(1.9); }
  }
  .hand .gallery-curve {
    margin-left: 0px;
  }
  .gallery-curve{
    transform: scale(0.8);
  }
  .hand,
  .pazl {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    aspect-ratio: 1 / 2;
    max-height: clamp(320px, 100vw, 600px);
  }
  .p1 { --dx: 40px;  --dy: -40px; }
  .p2 { --dx: 0px;   --dy: -50px; }
  .p3 { --dx: -40px; --dy: -20px; }
  .p4 { --dx: -40px; --dy: 30px; }
  .p5 { --dx: 40px;  --dy: 30px; }

  @keyframes puzzleMove {
    0%   { transform: translate(-50%, -50%) scale(1.7); }
    40%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.7); }
    60%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.7); }
    100% { transform: translate(-50%, -50%) scale(1.7); }
  }
}