@media (min-width: 1281px) and (max-width: 1367px){
	.logo-img-spin img {
			width: max(160vw, 1600px);
	}

	.corner-images img {
    width: 28%;
  }

	.eyes-wrapper {
			width: min(80vw, 600px);
			display: flex;
			gap: clamp(24px, 5vw, 64px);
	}

	.run-stroke {
		display: inline-flex;
		white-space: nowrap;
		font-size: 150px;
		font-weight: 600;
		color: #fff;
		flex: none;
	}
	.eye {
    width: 50%;          /* 400px из 800 */
	}
	.logo-img-spin img {
    width: max(160vw, 2300px);
}
.corner-images img {

    width: clamp(180px, 22vw, 320px);

}
	.txt-end p{
		font-size: 70px !important;
	}
 .p1 { --dx: 40px;  --dy: -40px; }
.p2 { --dx: 0px;   --dy: -50px; }
.p3 { --dx: -40px; --dy: -20px; }
.p4 { --dx: -40px; --dy: 30px; }
.p5 { --dx: 40px;  --dy: 30px; }

@keyframes puzzleMove {
  0%   { transform: translate(-50%, -50%) scale(1.7); }
  40%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.7); }
  60%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.7); }
  100% { transform: translate(-50%, -50%) scale(1.7); }
}

  .txt-end {
    text-align: center;
    color: white;
    transform: scale(0.95);
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: 2;
    opacity: 0;
    margin-top: 0px;
    position: relative;
    bottom:0% !important;
  }

  .txt-end p {
    font-family: "PastryChef";
    font-size: 70px !important;
    margin-bottom: 12px;
    z-index: 0;
  }

  .txt-end span {
    font-size: 50px !important;
    opacity: 0.8;
  }


}