@media (min-width: 1920px) {
    .title {
      font-size: 5rem;
    }
    .eyes-wrapper {
      width: min(90vw, 700px);
  }
  .p1 { --dx: 40px;  --dy: -40px; }
  .p2 { --dx: 0px;   --dy: -50px; }
  .p3 { --dx: -40px; --dy: -20px; }
  .p4 { --dx: -40px; --dy: 30px; }
  .p5 { --dx: 40px;  --dy: 30px; }

  @keyframes puzzleMove {
    0%   { transform: translate(-50%, -50%) scale(1.7); }
    40%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.7); }
    60%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.7); }
    100% { transform: translate(-50%, -50%) scale(1.7); }
  }
}