/* основной контейнер */
.hand-pazl {
  width: 100vw;
  display: flex;
  gap: 15px;
  padding: 24px;
  margin-top: 200px;
}

/* оба блока */
.hand,
.pazl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  aspect-ratio: 1 / 2;
  max-height: clamp(320px, 100vw, 1000px);
}

/* рука */
.hand {
  width: 35%;
  min-width: 35%;
  
  background: #5A009E;
  perspective: 1300px;
  overflow: hidden;
}
.pazl{
  width: 55%;
}

/* внутренняя 3d-зона руки */
.hand .gallery-curve {
  position: relative;
  width: 400px;
  height: 150px;
  transform-style: preserve-3d;
  margin-left: 50px;
}

/* части руки */
.hand .card {
  position: absolute;
  width: 400px;
  height: 150px;
  transform:
    rotateX(calc(var(--i) * 25deg))
    translateZ(300px);
  filter: brightness(calc(1 - abs(var(--i)) * 0.3));
  backface-visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1), filter 0.6s;
}

.hand .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hand .card:hover {
  transform:
    rotateX(calc(var(--i) * 25deg))
    translateZ(340px);
  filter: brightness(1.2);
  z-index: 10;
}

/* пазл */
.pazl {
  width: 65%;
  max-width: 65%;
  background: #00009F;
  overflow: visible;
}

.part {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.7);
  transform-origin: center;
  pointer-events: none;
  animation: puzzleMove 5s ease-in-out infinite;
}

.hand img,
.pazl img {
  max-width: 80%;
  max-height: 50%;
  object-fit: contain;
}

/* анимация пазла */
.p1 { --dx: 80px;  --dy: -80px; }
.p2 { --dx: 0px;   --dy: -100px; }
.p3 { --dx: -80px; --dy: -40px; }
.p4 { --dx: -80px; --dy: 60px; }
.p5 { --dx: 80px;  --dy: 60px; }

@keyframes puzzleMove {
  0%   { transform: translate(-50%, -50%) scale(1.7); }
  40%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.9); }
  60%  { transform: translate(calc(-50% + var(--dx)), calc(-50% + var(--dy))) scale(1.9); }
  100% { transform: translate(-50%, -50%) scale(1.7); }
}

.hand-pazl {
  width: 100%;
  display: flex;
  gap: 15px;
  
  margin-top: 200px;
  align-items: stretch;
}




